<div flex layout="column">
  <div flex="20">
    <md-toolbar>
      <div flex layout="row">


        <div flex="90">
          <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
            <md-tab ng-click="distribution()" >
              <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
                <div ></div>
              </div>

            </md-tab>
            <md-tab ng-click="finance()" >
              <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center;">
                <div ></div>
              </div>

            </md-tab>
          </md-tabs>
          </md-content>
        </div>

        <div flex="10">
          asdf
        </div>
      </div>
    </md-toolbar>
    <!-- <md-toolbar >
       <div flex layout="row">
         <div flex>
           <md-button ng-click="home">Home</md-button>
         </div>
         <div flex>
           <md-button ng-click="sales">Sales</md-button>
         </div>
         <div flex>
           <md-button ng-click="customers">Customers</md-button>
         </div>
         <div flex>
           <md-button ng-click="reports">Reports</md-button>
         </div>
         <div flex>
           <md-button ng-click="stock">Stock</md-button>
         </div>
         <div flex>
           <md-button ng-click="assets">Assets</md-button>
         </div>

       </div>
     </md-toolbar>-->
  </div>
  <div flex ui-view="main">

  </div>


</div>
